;html{
	background-image: url(../imeg/fon.jpg);
	
	
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	display: flex;
	min-height: 100%;
	
	flex-direction: column;
}

body{
	margin: 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	flex: auto;
	background-image: url(../imeg/fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a{
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

a:hover{
	cursor: pointer;
	font-size: 20px;
	text-decoration: underline;
}

img{
	width: 137px;
    height: 72px;
	border: 0;
}

.it:hover{
	border: 3px solid #f00808;
}

h1{
	margin-top: 0;
}

.header{
	width: 100%;
	max-width: 1440px;
	min-width: 430px;
	margin: 0 auto 30px;
	padding: 30px 0 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.bg{
	position: absolute;
	margin: 0;
	max-width: 100%;
	min-width: 100%;
	right: 0;
	left: 0;
	z-index: 0;
	
}

.container{
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1440px;
	min-width: 430px;
	margin: 0 auto 30px;
	padding: 30px 0 10px;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	box-sizing: border-box;
	z-index: 1;
	
}

.logo{
	background-color: #000;
	width: 232px;
	height: 227px;
	border-radius: 50%;
	font-size: 20;
	color: #fff;
	margin: 0 10px 10px 0;
	display: flex;
	flex: none;
	align-items: center;
}

.nav{
	margin: -5px 0 10px -15px;
	display: flex;
	flex-wrap: wrap;
}

.nav-item{
	background-color: #000;
	width: 130px;
	height: 50px;
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin: 5px 0 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main{
	
	width: 100%;
	min-width: 430px;
	max-width: 1440px;
	margin: auto;
	flex: auto;
	box-sizing: border-box;
}

.fline{
	width: 80%;	
	min-height: 80px;
	margin: 0 10px  30px;
}

.port{
	width: 250px;
	height: 250px;
}

.braz, .cod{
	background-color: #3d3de8;
	color: #fff;
	width: 155px;
	height: 60px;
	border-radius: 50px;
	border: 2px solid #000;
	margin: 10px;
	padding: 10px;
	align-items: center;
}

.cod:hover{
	border: 3px solid #f00808;
	color: #fff;
}

.braz:hover{
	border: 3px solid #f00808;
	color: #fff;
}

h2{
	margin: 10p 10p 10p 10px;
}

p{
	width: 510px;
}

.sline{
	width: 70%;	
	min-height: 80px;
	margin: 10px 10px 30px;
}

.shad{
	text-shadow: blue 1px 1px 2px;
}

.iconk{
	width: 100px;
	height: 80px;
}
.grid-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
}

.grid-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
}


.grid-item{
	margin-bottom: 30px;
	flex: 0 1 calc(25%-30px *3/4)
}


.grid-img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 30px;
}

.sqr{
	width: 200px;
	height: 380px;
	
}

.footer{
	background-color: bisque;
	width: 100%;
	max-width: 1440px;
	min-width: 430px;
	padding: 15px;
	margin: auto;
	color: #2c248f;
	box-sizing: border-box;
}

.foot{
	width: 130px;
	height: 50px;
	font-size: 25px;
	color: #2c248f;
	text-align: center;
	margin: 0px 0 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.foott{
	font-size: 16px;
	color: #090909;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexx{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
